<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class = "container">
  <span style="font-size: 350%;">Welcome to restaurant: </span>
  <span id = "restaurantID" style="font-size: 350%;"><%=restaurantID%></span><br>
  <span style="font-size: 250%;">table: </span>
  <span id = "tableID" style="font-size: 250%;"><%=tableID%></span>
  <br>
  <button id = "show_items" onclick="show_items()" style = "width: 60%; font-size: 250%; border: 2px solid black;">show menu</button>
  <br><br>
  <ol id = "table_inflater" type = '1'></ol>
  <div id = "orders" ></div>
  <div id = "total_price" style="font-size: 300%;">Total Price: 0</div>
  <button onclick="submit_order()" style = "width: 60%; font-size: 250%; border: 2px solid black;">submit order</button>
</div>
  <script src="/javascripts/client.js"></script>
</body>
</html>
