<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Here is restaurant</h1>
  <h1 id = 'id'><%=id%></h1>
  <h2>received orders<h2><br>
    <div id = 'received_orders'></div>
    <button id = "show_items" onclick="show_items()">show items</button>
    <div id = "table_inflater"></div>
    <form action="<%=upload%>" method="post" enctype="multipart/form-data">
      <label class = 'col-sm-4' for = 'name'>Name</label>
      <input class = 'col-sm-6' type='text' id = 'name' name = 'name'>
      <label class = 'col-sm-4' for = 'ingredients'>Ingredients</label>
      <input class = 'col-sm-6' type='text' id = 'ingredients' name = 'ingredients'>
      <label class = 'col-sm-4' for = 'price'>Price</label>
      <input class = 'col-sm-6' type= 'text' id = 'price' name = 'price'>
      <input type="file" name="avatar" value = "pick up an image"/>
      <input class = 'col-sm-6' style= 'border: 3px solid green' type= 'submit' id = 'submit' value = 'submit'>
    </form>

<script src="/javascripts/controller.js"></script>
</body>
</html>
