
.price {
  font-size : 130%;
  color: gray;
}

.name {
  font-size: 200%;
}

.ingredients {
  font-size: 130%;
}

.item {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
}

.image {
  position : relative;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  display: block;
}

.content {
  border: 1px solid gray;
}

.order {
  border: 1px solid gray;
}

.table_number {
  color: blue;
}

.new_order{
  border: 2px solid black;
}

#received_orders {
  border: 1px solid gray;
}

#table_inflater {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  text-align: left;
}

@keyframes animation {
    from {background-color: white;}
    to {background-color: gray;}
}
